{% extends 'magazyn/base_magazyn.html' %}

{% load static %}

{% block content %}
    <div class='container-fluid main-site'>
        <div class='row'>
            <div class="col-6">
                <h1>{{ para.marka }} {{ para.model_buta }} {{ para.typ }}<br> {{ para.rozmiar }}</h1>
            </div>
            <div class="col-6">
                 <a href="{% url 'magazyn_delete' para.pk %}" class="btn btn-danger float-right btn-detail">Usuń</a>
                 <a href="{% url 'magazyn_update' para.pk %}" class="btn btn-primary float-right btn-detail">Edytuj</a>
                 {% if para.status == "w magazynie" %}
                    <a href="{% url 'sprzedaz_create' para.pk %}" class="btn btn-secondary float-right btn-detail">Sprzedaj</a>
                    <a href="{% url 'zwrot_create' para.pk %}" class="btn btn-dark float-right btn-detail">Zwróć</a>
                 {% endif %}
            </div>
        </div>
        
        <div class="row card-body">
            <div class="col-lg-3 col-md-5 col-sm-12 card detail-card">
                <p><b>Marka:</b>&nbsp;&nbsp;{{ para.marka }}</p>
                <p><b>Model:</b>&nbsp;&nbsp;{{ para.model_buta }}</p>
                <p><b>Typ:</b>&nbsp;&nbsp;&nbsp;{{ para.typ }}</p>
                <p><b>Rozmiar:</b>&nbsp;&nbsp;{{ para.rozmiar }}</p>
            </div>

            <div class="col-lg-1 col-md-1  "></div>

            <div class="col-lg-4 col-md-6 col-sm-12 card detail-card">
                <p><b>Data zakupu:</b>&nbsp;&nbsp;{{ para.data_zakupu }}</p>
                <p><b>Cena zakupu:</b>&nbsp;&nbsp;{{ para.cena_zakupu }} zł</p>
                <p><b>Gdzie kupione:</b>&nbsp;&nbsp;{{ para.gdzie_kupione }}</p>
                <p><b>Status:</b>&nbsp;&nbsp;{{ para.status }}</p>
                <p><b>Szacowana wartość:</b>&nbsp;&nbsp;{{ para.szacowana_wartosc }} zł</p>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-3 col-md-12 card detail-card">
                <p><b>Uwagi:</b>&nbsp;&nbsp;{{ para.uwagi }}</p>
                {% if para.status == "sprzedano" %}
                    <p><b>Data sprzedaży:</b>&nbsp;&nbsp;{{ para.sprzedane.data_sprzedazy }}</p>
                    <p><b>Cena sprzedaży:</b>&nbsp;&nbsp;{{ para.sprzedane.cena_sprzedazy }}</p>
                    <p><b>Komu sprzedane:</b>&nbsp;&nbsp;{{ para.sprzedane.komu_sprzedane }}</p>
                    <p><b>Wpłynęły pięniądze:</b>&nbsp;&nbsp;{{ para.sprzedane.get_wplynely_pieniadze_display }}</p>
                    <p><b>Data przesyłki:</b>&nbsp;&nbsp;{{ para.sprzedane.data_przesylki }}</p>
                    <p><b>Śledzenie przesyłki:</b>&nbsp;&nbsp;{{ para.sprzedane.sledzenie_przesylki }}</p>

                {% elif para.status == "zwrot" %}
                    <p><b>Data zwrotu:</b>&nbsp;&nbsp;{{ para.zwrot.data_zwrotu }}</p>
                    <p><b>Wpłynęły pięniądze:</b>&nbsp;&nbsp;{{ para.zwrot.get_wplynely_pieniadze_display }}</p>
                    <p><b>Data przesyłki:</b>&nbsp;&nbsp;{{ para.zwrot.data_przesylki }}</p>
                    <p><b>Śledzenie przesyłki:</b>&nbsp;&nbsp;{{ para.zwrot.sledzenie_przesylki }}</p>   
                {% endif %}
                </div>
        </div>
    </div>
{% endblock content %}